{% extends "::base.html.twig" %}

{% block body %}
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
    <!-- START PANEL -->
    <div class="panel panel-transparent">
        <div class="panel-body">

            <div class="row">
              <div class="col-sm-10">
                <h3>Personal Profile</h3>
                <form id="form-work" class="form-horizontal" role="form" autocomplete="off">
                  <div class="form-group">
                    <label for="fname" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        Juan dela Cruz
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        30 June 1978
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Sex</label>
                    <div class="col-sm-9">
                        Male
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="position" class="col-sm-3 control-label">Address</label>
                    <div class="col-sm-9">
                        <p>#1 Colon St.</p>
                        <p>Cebu City</p>
                    </div>
                  </div>
                  </div>
                  <br>
                </form>
              </div>
            </div>



            <div class="row">
                <div class="col-sm-10">
                    <h3>Spouse's Details</h3>
                    <form id="form-work" class="form-horizontal" role="form" autocomplete="off">
                            <div class="form-group">
                                <label for="fname" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    Santos dela Cruz
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Date of Birth</label>
                                <div class="col-sm-9">
                                    14 December 1990
                                </div>
                            </div>
                        <br>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10">
                    <h3>Work and Occupation</h3>
                    <h5>User's Details</h5>
                    <form id="form-work" class="form-horizontal" role="form" autocomplete="off">
                            <div class="form-group">
                                <label for="fname" class="col-sm-3 control-label">Employer / Business Name</label>
                                <div class="col-sm-9">
                                    Giant Bananas LLC
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Position</label>
                                <div class="col-sm-9">
                                    Researcher
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Nature of Business</label>
                                <div class="col-sm-9">
                                    Space Tech
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Years with Employer or Business</label>
                                <div class="col-sm-9">
                                    18
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Complete Business Address</label>
                                <div class="col-sm-9">
                                    <p>888 Pasil</p>
                                    <p>Cebu City</p>
                                </div>
                            </div>

                        <br>
                    </form>

                    <h5>Spouse's Details</h5>
                    <form id="form-work" class="form-horizontal" role="form" autocomplete="off">
                            <div class="form-group">
                                <label for="fname" class="col-sm-3 control-label">Employer / Business Name</label>
                                <div class="col-sm-9">
                                    Hidden Monkey Entertainments
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Position</label>
                                <div class="col-sm-9">
                                    Producer
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Nature of Business</label>
                                <div class="col-sm-9">
                                    Entertainment
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Years with Employer or Business</label>
                                <div class="col-sm-9">
                                    8
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Complete Business Address</label>
                                <div class="col-sm-9">
                                    <p>8 Bloke St.</p>
                                    <p>Lapu-Lapu City</p>
                                </div>
                            </div>

                        <br>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->
{% endblock %}
