{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-transparent">
        <div class="panel-body no-padding">
            <div class="panel panel-default" id="portlet-circular-minimal">
                <div class="panel-heading ">
                    <div class="panel-title">WELCOME TO
                    </div>
                </div>
                <div class="panel-body">
                    <h1>
                        <span class="semi-bold">SME</span> Avenue
                    </h1>
                    <h5>
                        The platform for SME and Banking Institutions to initiate loan process
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
