{% extends 'base.html.twig' %}

{% block body %}
          <div class="container-fluid container-fixed-lg m-t-20">
            <div class="row">
              <div class="col-sm-12">
                <!-- START PANEL -->
                <div class="panel panel-default hover-stroke">
                  <div class="panel-body no-padding">
                    <div class="container-sm-height">
                      <div class="row row-sm-height">
                        <div class="col-sm-12 col-sm-height padding-20 col-top">
                          <p class="font-montserrat bold">SME Avenue</p>
                          <h3 class="no-margin font-arial">
                             A platform for SME and banking institutions to initiate loan process
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PANEL -->
              </div>
              </div>
              </div>
{% endblock %}
